<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<ng-container *ngIf="compact">
  <a
    [nzDropdownMenu]="compactFilterMenu"
    nz-dropdown
    nzTrigger="click"
    [nzClickHide]="false"
    class="filter-trigger-wrap">
    <button
      nz-button
      class="filter-trigger"
      title="Filter"
      nz-tooltip="Filter"
      nzTooltipPlacement="bottom"
      type="button">
      <i
        nz-icon
        nzTheme="outline"
        nzType="filter"></i>
    </button>
  </a>
  <nz-dropdown-menu #compactFilterMenu="nzDropdownMenu">
    <div
      class="filter-panel"
      (click)="$event.stopPropagation()">
      <section class="filter-section">
        <h4 class="filter-section-title">Sort</h4>
        <button
          *ngIf="showEditTime"
          type="button"
          class="filter-option sort-option"
          [class.selected]="sortMethod === SortMethod.EditTimeDesc"
          (click)="lastSort()">
          By Edit Time
        </button>
        <button
          type="button"
          class="filter-option sort-option"
          [class.selected]="sortMethod === SortMethod.CreateTimeDesc"
          (click)="dateSort()">
          By Create Time
        </button>
        <button
          *ngIf="showExecutionTime"
          type="button"
          class="filter-option sort-option"
          [class.selected]="sortMethod === SortMethod.ExecutionTimeDesc"
          (click)="execSort()">
          By Execution Time
        </button>
        <button
          type="button"
          class="filter-option sort-option"
          [class.selected]="sortMethod === SortMethod.NameAsc"
          (click)="ascSort()">
          A -> Z
        </button>
        <button
          type="button"
          class="filter-option sort-option"
          [class.selected]="sortMethod === SortMethod.NameDesc"
          (click)="dscSort()">
          Z -> A
        </button>
      </section>
      <section
        class="filter-section"
        *ngIf="isLogin">
        <h4 class="filter-section-title">Owner</h4>
        <label
          nz-checkbox
          class="filter-option"
          *ngFor="let owner of owners"
          ngDefaultControl
          [(ngModel)]="owner.checked"
          (ngModelChange)="updateSelectedOwners()"
          >{{owner.userName}}</label
        >
      </section>
      <section
        class="filter-section"
        *ngIf="isLogin && hasIdFilter">
        <h4 class="filter-section-title">ID</h4>
        <label
          nz-checkbox
          class="filter-option"
          *ngFor="let wid of wids"
          ngDefaultControl
          [(ngModel)]="wid.checked"
          (ngModelChange)="updateSelectedIDs()"
          >{{wid.id}}</label
        >
      </section>
      <section class="filter-section">
        <h4 class="filter-section-title">Operators</h4>
        <div
          class="filter-operator-group"
          *ngFor="let group of operatorGroups">
          <h5 class="filter-group-title">{{group}}</h5>
          <label
            nz-checkbox
            class="filter-option"
            *ngFor="let operator of operators.get(group)"
            ngDefaultControl
            [(ngModel)]="operator.checked"
            (ngModelChange)="updateSelectedOperators()"
            >{{operator.userFriendlyName}}</label
          >
        </div>
      </section>
    </div>
  </nz-dropdown-menu>
</ng-container>

<nz-space-compact
  *ngIf="!compact"
  class="filter-button-group"
  ngbDropdown>
  <a
    [nzDropdownMenu]="sortOptions"
    nz-dropdown
    class="search-sort-button">
    <button
      id="sortDropdown"
      nz-button
      class="filter-btn"
      title="Sort">
      <span>Sort</span>
    </button>
  </a>
  <nz-dropdown-menu #sortOptions="nzDropdownMenu">
    <ul nz-menu>
      <li
        nz-menu-item
        *ngIf="showEditTime">
        <button
          (click)="lastSort()"
          nz-button>
          By Edit Time
        </button>
      </li>
      <li nz-menu-item>
        <button
          (click)="dateSort()"
          nz-button>
          By Create Time
        </button>
      </li>
      <li
        nz-menu-item
        *ngIf="showExecutionTime">
        <button
          (click)="execSort()"
          nz-button>
          By Execution Time
        </button>
      </li>
      <li nz-menu-item>
        <button
          (click)="ascSort()"
          nz-button>
          A -> Z
        </button>
      </li>
      <li nz-menu-item>
        <button
          (click)="dscSort()"
          nz-button>
          Z -> A
        </button>
      </li>
    </ul>
  </nz-dropdown-menu>
  <a
    [hidden]="!isLogin"
    [nzDropdownMenu]="ownerSearchOptions"
    nz-dropdown
    nzTrigger="click"
    class="search-owners-button">
    <button
      id="sortOwner"
      ngbDropdownToggle
      nz-button
      class="filter-btn"
      title="Owner">
      <i
        nz-icon
        nzTheme="outline"
        nzType="user"></i>
      <span>Owner</span>
    </button>
  </a>
  <nz-dropdown-menu #ownerSearchOptions="nzDropdownMenu">
    <ul
      nz-menu
      class="filter-menu-list">
      <li
        nz-menu-item
        *ngFor="let owner of owners">
        <label
          nz-checkbox
          ngDefaultControl
          [(ngModel)]="owner.checked"
          (ngModelChange)="updateSelectedOwners()"
          >{{owner.userName}}</label
        >
      </li>
    </ul>
  </nz-dropdown-menu>

  <a
    *ngIf="this.isLogin && hasIdFilter"
    [nzDropdownMenu]="IDSearchOptions"
    nz-dropdown
    nzTrigger="click"
    class="search-wids-button">
    <button
      id="sortID"
      ngbDropdownToggle
      nz-button
      class="filter-btn"
      title="Workflow ID">
      <i
        nz-icon
        nzTheme="outline"
        nzType="ordered-list"></i>
      <span>ID</span>
    </button>
  </a>
  <nz-dropdown-menu #IDSearchOptions="nzDropdownMenu">
    <ul
      nz-menu
      class="filter-menu-list">
      <li
        nz-menu-item
        *ngFor="let wid of wids">
        <label
          nz-checkbox
          ngDefaultControl
          [(ngModel)]="wid.checked"
          (ngModelChange)="updateSelectedIDs()"
          >{{wid.id}}</label
        >
      </li>
    </ul>
  </nz-dropdown-menu>

  <a
    [nzDropdownMenu]="operatorSearchOptions"
    nz-dropdown
    nzTrigger="click"
    class="search-operators-button">
    <button
      id="sortOperator"
      ngbDropdownToggle
      nz-button
      class="filter-btn"
      title="Operators">
      <i
        nz-icon
        nzType="appstore"
        nzTheme="outline"></i>
      <span>Operators</span>
    </button>
  </a>
  <nz-dropdown-menu #operatorSearchOptions="nzDropdownMenu">
    <ul
      nz-menu
      class="filter-menu-list">
      <li
        nz-submenu
        *ngFor="let group of operatorGroups"
        [nzTitle]="group">
        <ul>
          <li
            nz-menu-item
            *ngFor="let operator of operators.get(group)">
            <label
              nz-checkbox
              ngDefaultControl
              [(ngModel)]="operator.checked"
              (ngModelChange)="updateSelectedOperators()"
              >{{operator.userFriendlyName}}</label
            >
          </li>
        </ul>
      </li>
    </ul>
  </nz-dropdown-menu>
</nz-space-compact>
